*, *::before, *::after { box-sizing: border-box; }

body { 
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none; 
}

p {
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 36px;
    border: none;
    border-radius: 8px;
}

.header, footer, .hero {
    background-color: #1f2937;
}

.header, footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F9FAF8;
    padding: 28px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;  
}

footer {
    color: #E5E7EB;
    font-size: 18px;  
}

.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
    padding: 65px 30px;
}

.hero_maintext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
    padding-bottom: 8px;
}

img {
    width: 100%; 
    height: auto; 
    border-radius: 8px  ;
}

.hero_left {
    max-width: 450px;
}

.hero_right {
    display: flex;
    width: 500px;
}

.hero_secondary {
    padding: 10px 0;
}

.signup_hero {
    margin-top: 22px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9FAF8;
}

.info_header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 40px;
}